.cards {
  display: grid;
  grid-template-columns: 295px 181px;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
  &__inner {
    display: flex;
    flex-direction: column;

    &-principle {
      background-color: #efefef;
      box-shadow: 0 0 3px rgb(0 0 0 / 40%), 0 3px 6px rgb(0 0 0 / 43%);
      padding: 8px;
    }
  }
  &__title-principle {
    margin-bottom: 11px;

    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 23px;
    color: $black-color;
    font-family: $second-font;
    span {
      font-size: 27px;
      font-family: $second-font;
      font-weight: 700;
      line-height: 31px;
    }
  }

  &__list {
    padding-left: 0;
    li {
      margin-bottom: 2px;

      color: $black-color;
      &:last-child {
        margin-bottom: 0;
      }
      i {
        color: $black-color;
      }
    }
    &-services {
      text-transform: uppercase;
      font-size: 19px;
      font-weight: 700;
      li {
        margin-bottom: 5px;
      }
    }
    &-principle {
      font-weight: 500;
      font-size: 14px;
    }
  }
}

// @media
@include desktop {
  .cards {
    margin-bottom: 35px;
    grid-template-columns: 250px 168px;
    &__inner {
      &-principle {
        padding: 7px;
      }
    }
    &__title-principle {
      margin-bottom: 9px;

      line-height: 19px;
      font-size: 17px;
      span {
        font-size: 24px;
        line-height: 26px;
      }
    }
    &__list {
      &-principle {
        font-size: 13px;
      }
      &-services {
        font-size: 16px;
        li {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@include laptop {
  .cards {
    margin-bottom: 30px;
    grid-template-columns: 202px 142px;
    gap: 30px;
    &__inner {
      &-principle {
        padding: 6px;
      }
    }
    &__title-principle {
      margin-bottom: 7px;
      line-height: 16px;
      font-size: 15px;
      span {
        font-size: 21px;
        line-height: 25px;
      }
    }
    &__list {
      &-principle {
        font-size: 11px;
      }
      &-services {
        font-size: 13px;
      }
    }
  }
}

@include tablet {
  .cards {
    margin-bottom: 25px;
    &__inner {
      &-principle {
        display: none;
      }
    }
    &__list {
      &-services {
        font-size: 12px;
        li {
          margin-bottom: 3px;
        }
      }
    }
  }
}

@include mobile {
  .cards {
    margin-bottom: 18px;
    &__list {
      &-services {
        font-size: 7px;
        li {
          margin-bottom: 2px;
        }
      }
    }
  }
}
